body{
  font-family: 'Barlow', sans-serif !important;
  background-color: #eee;
}

.row{
  margin:0 0 8px 0;
}
.container{
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  background-color: white;
  position: relative;
}

a:hover {
  color: white !important;
  opacity: 0.8 !important;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.borde{
  height: 95vh;
  max-height: 635px;
}

#ordenamiento{
  background-color: #111;
  color: white;
  z-index: 10;
  padding: 1em 2em 2em 2em;
  font-size: 12px;
  box-sizing: border-box;
  max-width: 300px;
  max-height: 800px;
  min-height: 700px;
}

#ordenamiento h3{
  font-size: 12px;
  font-weight: bold;
  width: fit-content;
  background-color: #111;
  position: relative;
  top: -10px;
  left: 28%;
  padding: 0 0.5em;
  margin: 0;
}

.parte-orden #filter_metropolitana_div, #filter_localizacion_div, #filter_distribucion_div{
  display: block;
  padding-bottom: 10px;
  /*width: 10%;*/
}

#ordenamiento #filtros{
  left: 38%; /*top: 19px;*/
}

#ordenamiento #datos{
  left: 38%;
  top: -10px;
}

.icvu-indicador{
  padding: 0em;
}

.bajada-titulo{
    float: right;
    width: 40%;
    margin-top: 1.1em;
    margin-right: 1em;
    font-size: 13px;
}

.hidden {
    display: none;
    visibility: hidden;
  }

/*Primer div: Bar Chart*/
#scrolleable{
    text-align: center;
    padding: 1em;
    border: 3px solid grey;
    box-sizing: border-box;
  }

.ultimo{
  padding-left: 0em;
}

#scrolleable h5{
  font-size: 14px;
  font-weight: bold;
}

/*scrollear en Y*/
.scrollable {
  height: 80vh;
  overflow-y: scroll;
  max-height: 550px;
  min-height: 300px;
}

.definicion{
  width:100%;
  padding: 0.5em;
  background-color: #BDBDBD;
  top: 0;
  right: 0;
  height: 40px;
  z-index: 5;
}

.btn{
  border-radius: 0;
  background-color: #111;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 0.5em 1.5em;
  margin-bottom: 0.5em;
}

#que-es{
  text-align: right;
}

.btn-primary{
  font-size: 1em !important;
}
.parte-orden{
  border: 2px solid #4D4D4D;
  padding: 0 1em 1em 1em;
  margin-top: 1em;
}

#data-vista{
  /*margin-left: 280px;*/
  display: none;
}


#porfiado{
    text-align: center;
    right: 20px;
    top:60px;
    bottom: 20px;
    background-color: white;
    border: 3px solid grey;
    z-index: 10;
    height: 90%;
    width: 38%;
    box-sizing: border-box;
}

#scrolleable h3, #porfiado h3{
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
#chartDetail{
  display: none;
  float: right;
}

.div-graficos{
  margin-top: 10px;
}

#spider{
  /*background-color: white;*/
  position: relative;
  min-height: 400px;
  max-height: 500px;
}

.leyenda{
  position: absolute;
  right: 30px;
  top: 50px;
  font-size: 10px;
}
#radar-body{/*height:67vh; max-height: 500px;*/}


/*INICIO FILTROS ORDENAMIENTO*/
/*Filtros, parte del ordenamiento*/

  label{
    display: block;
    margin-bottom: 5px
  }
  select{
    width: 100%;
    color: black;
  }
  #order0{
    margin-bottom: 0px;
  }

  /*Solo afecta al slider Poblacion*/
  #filter_poblacion_div .goog-inline-block:first-child{
    top: -25px;
  }
  #filter_dependencia_div .google-visualization-controls-rangefilter .goog-inline-block,
  #filter_per_capita_div .google-visualization-controls-rangefilter .goog-inline-block{
    bottom: 25px !important;
  }
  #filter_per_capita_div .google-visualization-controls-rangefilter-thumblabel:last-child, #filter_dependencia_div .google-visualization-controls-rangefilter-thumblabel:last-child{
      right: 25px;
  }

  /*Slider-selector del rango*/
  .google-visualization-controls-slider-thumb {
    width: 6px !important;
    height: 14px !important;
    background-color: #9E005D !important;
    border: #9E005D !important;
    position: absolute;
    top: -3px;
    border: 0 !important;
  }
  /*Selectores para charts*/
  .goog-inline-block .google-visualization-controls-rangefilter-thumblabel{
      color: #fff !important;
      font-weight: 400 !important;
      position: relative;
      font-size: 10px;
      top: 38px;
      z-index: 15;
      display: block;
  }
  /*Segundo valor del slider*/
  .google-visualization-controls-rangefilter-thumblabel:last-child{
      display: inline-block;
      top: 20px;
      right: 45px;
      text-align: right;
  }
  /*Barra horizontal slider*/
  .google-visualization-controls-slider-horizontal {
      background-color: #9E9E9E !important;
      border: 0px !important;
      -moz-border-radius: 0px !important;
      height: 5px !important;
  }

  /*Selección rango en slider*/
  .google-visualization-controls-slider-handle{
      background-color: #fff !important;
      opacity: 1 !important;
      height: 5px !important;
  }

  .google-visualization-tooltip-item{
    width: auto;
    max-width: 250px;
    min-width: 70px;
    margin: 0 !important;
    padding: 0 !important;
    text-align: left;
  }

  .google-visualization-tooltip-item-list{
    margin: 0.2em !important;
  }
  .google-visualization-tooltip-item span{
    font-size: 12px !important;
    color: white !important;
    height: 5px;
    margin: 0 !important;
  }
/*FIN FILTROS ORDENAMIENTO*/

#titulo{
  display: inline;
  font-size: 4.5rem;
  font-weight: 400;
}

#dashboard_div{display:none;}

.footer{
  position: absolute;
  box-sizing: border-box;
  width: 89%;
  bottom: 20px;
}

/*Modificación para Modal de bootstrap*/
.btn-primary {
    color: #fff;
    background-color: transparent !important;
    border: none;
}
@media (min-width: 576px){
  .modal-dialog {
      width: 800px;
  }
}

.dimension_icvu p{
    font-size: 13px;
    margin: 0 0 1em 0;
  }

.iconos-icvu{
  max-width: 70px;
}
.dimension_icvu h5{
  font-size: 14px;
  margin: 0.5em;
}

.menu-opciones{
    position: absolute;
    top: 2px;
}

.grafico-ej, .grafico-max, .grafico-inf, .grafico-sup{
  position: absolute;
  left: -1px;
  width: 185px;
  bottom: 53px;
}

.grafico-inf{width: 185px; left: 73px; bottom: 270px;}
.grafico-sup{width: 156px; left: 102px; bottom: 203px;}
.grafico-max{width: 153px; left: 104px; bottom: 138px;}
.area-grafico{
  position: absolute;
  width: 25px;
  left: 230px;
  bottom: 358px;
}

.pc-alerta{
  width: 100%;
}

h4{
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em;
}

.col-md-8 span{
  font-weight: 600;
}
.dimension_icvu{
  text-align: center;
  /*padding: 0 1em; margin: 1%;*/
}

.dimension_icvu hr{
  width: 30px;
  border: 1.5px solid #111;
  margin: 0.5em auto;
}

.modal-footer{
  border: none;
}

.rangos-radar p{
  margin: 1em 0;
}
.parte-orden.primer-filtro {
  padding: 0 1em;
}
/*Estilos del Modal*/
.modal-header{
  padding: 15px 15px 0 3em;
}

.parrafo-calc-icvu{
  padding: 0 1em;
}
.modal-header .close {
  margin-top: -35px;
  background: none;
  border: none;
  font-size: 30px;
  float: right;
}

.mensaje-nodesktop{
  display: none;
}

@media (max-width: 1099px){
  .col-md-8, .col-md-5, .col-md-6, .col-md-3, .col-lg-8, .col-lg-3, .col-lg-5, .definicion, .footer_main{
    display: none;
  }
  body{
    background-color: #222;
  }
  .container{
    background-color: #222;
  }
  .mensaje-nodesktop{
    display: block;
    color: white;
    padding: 2em;
    background-color: #fff;
    width: 70vw;
    margin: 30vh auto;
    text-align: center;
  }
  .mensaje-nodesktop h2{
    color: #222;
    font-size: 2em;
  }
  hr{
    border: 2px solid #222;
  }
}

.footer_main{
  text-align: right;
  margin-right: 3vw;
}
.footer_main > img{
  display: inline-block;
  margin-top: 6px;
  height: 25px;
  width: auto;
}
